<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="candidate" value="/home/viktor/Development/RunicArtifex/ReactiveUI.Validation/artifacts/verification/generated-support/2550376/candidate-packages" />
    <add key="runic-forks" value="/home/viktor/Development/RunicArtifex/ReactiveUI.Validation/artifacts/dependencies" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>
